[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
[submodule "dependencies/geosemantics-semantic-resources"]
	path = dependencies/geosemantics-semantic-resources
	url = https://github.com/opengeospatial/geosemantics-semantic-resources.git
	branch = main
